<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jack.myapplication" >

    <!-- 二维码相关权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />  <!-- 震动 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />


    <uses-permission android:name="android.permission.INTERNET" /><!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        >  <!--android:largeHeap="true" 更多的内存，因为加载图片需要更多内存 -->
        <activity android:name=".LogInActivity"
            android:theme="@style/CustomTheme">

            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme" >

        </activity>

        <activity
            android:name=".TestActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme"
            />

        <activity android:name=".ScanActivity"
            android:label="Scan"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".WebActivity"
            android:label="智能家居"
            android:theme="@style/CustomTheme" />

        <activity android:name=".SettingActivity"
            android:label="setting"
            android:theme="@style/SettingStyle" />
    </application>

</manifest>
